@charset "UTF-8";
:root {
  --primary-white-color: #ffffff;
  /**белый цвет фона и текста, логотипа в футере**/
  --theme-dark-color: #2f303a;
  /*темно серый цвет фона**/
  --theme-light-color: #f5f4fa;
  /**светло серый текст фона**/
  --accent-color: #2196f3;
  /**синий цвет выделения ссылок и кнопок при ховере, фокусе**/
  --text-primary-color: #212121;
  /**темно серый цвет тектса**/
  --text-secondary-color: #757575;
  /**основной светло серый цвет текста**/
  --text-primary-font: Roboto, sans-serif;
  /**основшой шрифт текта**/
  --text-secondary-font: Raleway, sans-serif;
  /**шрифт текста логотипа**/
  --icon-primary-color: #afb1b8;
  /**основной цвет иконок соцсетей и партнеров**/
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--text-primary-font);
  color: var(--text-primary-color);
  background-color: var(--primary-white-color);
}

/* СБРОС ОФОРМЛЕНИЯ ДЛЯ СПИСКОВ И ССЫЛОК; СБРОС PADDING И MARGIN ДЛЯ СПИСКОВ, ТЕКСТА, ЗАГЛАВИЙ*/
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.nav, .contact, .menu__nav, .menu__contact, .menu__social-list, .features, .work-directions, .workers, .social-list, .clients, .address__list, .filters, .portfolio {
  list-style: none;
}

.logo, .nav__link,
.contact__link, .nav__link--active, .menu__nav-link, .menu__contact-phone, .menu__contact-mail, .menu__social-link, .address__street-link,
.address__contact-link, .portfolio__link-wrapper {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: var(--text-secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__header {
  color: #000000;
}

.logo__footer {
  color: var(--primary-white-color);
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--top-padding-zero {
  padding-top: 0;
}

.section--theme-dark {
  background-color: var(--theme-light-color);
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 767px) {
  .header {
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #ececec;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ececec;
  }
}

.site-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .contact {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    align-items: center;
    flex-direction: row;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.contact__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.nav__link,
.contact__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:focus, .nav__link:hover,
.contact__link:focus,
.contact__link:hover {
  color: var(--accent-color);
}

.nav__link {
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-primary-color);
}

.nav__link--active {
  color: var(--accent-color);
  position: relative;
  padding: 32px 0;
}

.nav__link--active::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact__link {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.67;
  color: var(--text-secondary-color);
}

@media screen and (min-width: 1200px) {
  .contact__link {
    padding: 5px 0;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact__icon {
  fill: var(--text-secondary-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:focus .contact__icon,
.contact__link:hover .contact__icon {
  fill: var(--accent-color);
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: var(--primary-white-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu__container {
  height: 100%;
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.menu__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu__burger-button,
.menu__close-button {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

@media screen and (min-width: 768px) {
  .menu__burger-button,
  .menu__close-button {
    display: none;
  }
}

.menu__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu__burger-icon,
.menu__close-icon {
  fill: #212121;
}

.menu__burger-icon:hover, .menu__burger-icon:focus,
.menu__close-icon:hover,
.menu__close-icon:focus {
  fill: var(--accent-color);
}

.menu__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--text-primary-color);
}

.menu__nav-link--active:focus, .menu__nav-link--active:hover {
  color: var(--accent-color);
}

.menu__contact-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu__contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-secondary-color);
}

.menu__social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64PX;
}

.menu__social-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu__social-item:not(:first-child) {
  padding-left: 10px;
}

.menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.main-button {
  font-family: var(--text-primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  padding: 10px 10px;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover, .main-button:focus {
  background-color: #188ce8;
}

.main-button--form-centered {
  display: block;
  margin: 0 auto;
}

.main-button--with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-button__icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
}

.hero {
  max-width: 767px;
  height: auto;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero-bg-mobile.jpg");
  background-color: var(--theme-dark-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/mobile/hero-bg-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero-bg-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/tablet/hero-bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: url("../images/hero-bg.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero-bg@2x.jpg");
  }
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  padding: 40px;
  transform: scale(1, 1) translate(-50%, -50%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal-window {
  transform: scale(0.5, 0.5) translate(-100%, -100%);
}

.modal-window__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-window__close-button:hover, .modal-window__close-button:focus {
  fill: var(--accent-color);
}

.contact-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.contact-form__text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-secondary-color);
  margin-bottom: 4px;
}

.contact-form__insert-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.contact-form__input {
  width: 100%;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:hover, .contact-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--text-primary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:hover + .contact-form__icon,
.contact-form__input:focus + .contact-form__icon {
  fill: var(--accent-color);
}

.contact-form__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__comment:hover, .contact-form__comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form__comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  margin-bottom: 30px;
}

.checkbox__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-secondary-color);
}

.checkbox__text::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--text-primary-color);
  border-radius: 2px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:hover + .checkbox__text::before,
.checkbox__input:focus + .checkbox__text::before {
  border-color: var(--accent-color);
}

.checkbox__input:checked + .checkbox__text::before {
  background-image: url("../images/check-icon.svg");
  background-size: 16px 15px;
  background-position: center;
  border: 1px solid transparent;
}

.features {
  display: flex;
}

.features__item {
  flex-basis: calc((100% - 90px) / 4);
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  min-height: 120px;
  border-radius: 4px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-secondary-color);
}

.work-directions {
  display: flex;
}

.work-directions__item {
  flex-basis: calc((100% - 60px) / 3);
}

.work-directions__item:not(:last-child) {
  margin-right: 30px;
}

.work-directions__image-wrapper {
  position: relative;
  overflow: hidden;
}

.work-directions__text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  min-height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.workers {
  display: flex;
  flex-wrap: wrap;
}

.workers__item {
  background-color: var(--primary-white-color);
  flex-basis: calc((100% - 90px) / 4);
}

.workers__item:not(:last-child) {
  margin-right: 30px;
}

.workers__info-wrapper {
  padding: 30px 32px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.workers__title,
.workers__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.workers__title {
  font-weight: 500;
  margin-bottom: 10px;
}

.workers__text {
  color: var(--text-secondary-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link--theme-dark {
  background: rgba(255, 255, 255, 0.1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: var(--icon-primary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon--theme-dark {
  fill: var(--primary-white-color);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--primary-white-color);
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.clients {
  display: flex;
}

.clients__item {
  flex-basis: calc((100% - 150px) / 6);
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92px;
  border: 1px solid var(--icon-primary-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: var(--icon-primary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--theme-dark-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

address {
  font-style: normal;
  margin-top: 20px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.address {
  margin-right: 70px;
}

.address__street-item {
  margin-bottom: 9px;
}

.address__contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.address__street-link,
.address__contact-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__street-link {
  color: var(--primary-white-color);
}

.address__contact-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact-link:hover, .address__contact-link:focus {
  color: var(--accent-color);
}

.join-wrapper__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.subscribe {
  margin-left: auto;
}

.subscribe__insert-wrapper {
  display: flex;
}

.subscribe__text {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.subscribe__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  min-height: 50px;
  width: 358px;
  background-color: var(--theme-dark-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input:hover, .subscribe__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__button {
  font-family: var(--text-primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--text-primary-color);
  background-color: var(--theme-light-color);
  padding: 6px 22px;
  min-width: 73px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:active, .filters__button:hover, .filters__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio__link-wrapper {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link-wrapper:hover, .portfolio__link-wrapper:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__image-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link-wrapper:hover .portfolio__overlay,
.portfolio__link-wrapper:focus .portfolio__overlay {
  transform: translateY(0%);
}

.portfolio__description-wrapper {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-primary-color);
  margin-bottom: 4px;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-secondary-color);
}
/*# sourceMappingURL=main.css.map */