.features {
    @extend %list;
    margin-top: -30px;
    margin-left: -30px;

    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.features__item {
    margin-top: 30px;
    margin-left: 30px;
    
        @media screen and (min-width:768px) {
            flex-basis: calc((100% - 2*30px) / 2);
        }
    
        @media screen and (min-width:1200px) {
            flex-basis: calc((100% - 4*30px) / 4);;
        }
    }

.features__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    width: 100%;
    min-height: 120px;
    border-radius: 4px;
}

.features__title {
    @media screen and(max-width:767.98px){
        text-align: center;
    }
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-secondary-color);
    
  
}

