.footer {
    background-color: var(--theme-dark-color);
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (max-width:1199.98px) {
        text-align: center;
    }
}

address {
    font-style: normal;
    margin-top: 20px;
}

.footer__container {
    @media screen and (min-width:768px) {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: space-around;
    }    
}

.address {
    @media screen and(min-width:1200px) {
        margin-right: 70px;
    }
}

.address__list {
    @extend %list;
}

.address__street-item {
    margin-bottom: 8px;
        
    @media screen and(min-width:1200px) {
        margin-bottom: 9px;
    }
}

.address__contact-item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and(min-width:1200px) {
        margin-bottom: 9px;
    }  
}

.address__street-link,
.address__contact-link {
    @extend %link;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address__street-link {
    color: var(--primary-white-color);
}

.address__contact-link {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.join-wrapper {
    @media screen and(max-width:767.98px) {
        margin-top: 60px;
    }
}

.join-wrapper__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
}

.subscribe {
    @media screen and(max-width:1199.98px) {
        margin-top: 60px;
    }
    
    @media screen and(min-width:1200px) {
        margin-left: auto;
    }

}

.subscribe__insert-wrapper {
    @media screen and(min-width:1200px) {
        display: flex;
    }
}

.subscribe__text {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
}

.subscribe__input {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    min-height: 50px;
    width: 100%;
    background-color: var(--theme-dark-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:768px){
        width: 450px;
        
    }

    @media screen and(min-width:1200px) {
        width: 358px;
        margin-bottom: 0;
        margin-right: 12px;
    }

    &:hover,
    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}