.nav, .contact{
    display: none;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (min-width: 768px) {

.menu__burger-button{
    display: none;
}

.header {
    padding-top: 26px;
    padding-bottom: 26px;
    border-bottom: 1px solid #ececec;
}
    
// .header__container {
//     display: flex;
//     align-items: center;
// }

.nav {
        @extend %list;
        display: block;
        // align-items: center;
    }

    .contact {
        @extend %list;
        display: block;
        // align-items: center;
        // margin-left: auto;
    }

}
// .header {
//     padding-top: 24px;
//     padding-bottom: 25px;
//     border-bottom: 1px solid #ececec;
// }

// .header__container {
//     display: flex;
//     align-items: center;
// }


// /*НАВИГАЦИЯ САЙТА И КОНТАКТЫ В ХЕДЕРЕ */
// .site-nav {
//     display: flex;
//     align-items: center;
// }
// .nav {
//     @extend %list;
//     display: flex;
//     align-items: center;
// }

// .contact {
//     @extend %list;
//     display: flex;
//     align-items: center;
//     margin-left: auto;
// }

// .nav__item:not(:last-child) {
//     margin-right: 50px;
// }

// .contact__item:not(:last-child) {
//     margin-right: 50px;
// }

// .nav__link,
// .contact__link {
//     @extend %link;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     padding: 5px 0;
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:focus,
//     &:hover {
//         color: var(--accent-color);
//     }
// }

// .nav__link {
//     color: var(--text-primary-color);
// }

// .nav__link--active {
//     @extend %link;
//     color: var(--accent-color);
//     position: relative;

//     &::after {
//         content: "";
//         position: absolute;
//         left: 0;
//         top: 51px;
//         width: 100%;
//         height: 4px;
//         background-color: var(--accent-color);
//         border-radius: 2px;
//     }
// }


// .contact__link {
//     color: var(--text-secondary-color);
//     display: flex;
//     align-items: center;
// }


// .contact__icon {
//     fill: var(--text-secondary-color);
//     margin-right: 10px;
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     .contact__link:focus &,
//     .contact__link:hover & {
//         fill: var(--accent-color);
//     }
// }


