.hero {
   max-width: 767px;
    height: auto;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/mobile/hero-bg-mobile.jpg');
    background-color: var(--theme-dark-color);
    background-size: cover;
    background-repeat: no-repeat;
        background-position: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: url('../images/mobile/hero-bg-mobile@2x.jpg');
    }
}

@media screen and (min-width: 768px) {
    .hero {
        // max-width: 1199px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/tablet/hero-bg-tablet.jpg');
    }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .hero {
        background-image: url('../images/tablet/hero-bg-tablet@2x.jpg');
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        max-width: 1600px;
        height: 600px;
        padding: 200px 0;
        background-image: url('../images/hero-bg.jpg');
    }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
screen and (min-width: 1200px) and (min-resolution: 192dpi),
screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    .hero {
        background-image:  url('../images/hero-bg@2x.jpg');
    }
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}