.workers{
    @extend %list;

    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
    }
}




.workers__item {
    background-color: var(--primary-white-color);

    @media screen and(max-width:767.98px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width:768px) and (max-width:1199.98px){
        flex-basis: calc((100% - 30px) / 2);
    
        &:nth-child(odd) {
            margin-right: 30px;
        }
    
        &:nth-child(-n + 2) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width:1200px) {
        flex-basis: calc((100% - 90px) / 4);
    
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    // flex-basis: calc((100% - 90px) / 4);

    // &:not(:last-child) {
    //     margin-right: 30px;
    // }
}

.workers__info-wrapper {
    padding: 30px 32px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.workers__title,
.workers__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.workers__title {
    font-weight: 500;
    margin-bottom: 10px;
}

.workers__text {
    color: var(--text-secondary-color);
    margin-bottom: 16px;
}