.filters {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-right: -8px;

    @media screen and(max-width:767.98px) {
        margin-bottom: 40px;
        }

    @media screen and(min-width:768px) {
        justify-content: center;
        margin-bottom: 30px;
    }
    @media screen and(min-width:1200px) {
        margin-bottom: 50px;
    }
}

.filters__item{
    margin-top: 15px;
    margin-right: 8px;
}

.filters__button {
    font-family: var(--text-primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--text-primary-color);
    background-color: var(--theme-light-color);
    padding: 6px 22px;
    min-width: 73px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:active,
    &:hover,
    &:focus {
        color: var(--primary-white-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
