.portfolio {
    @extend %list;

    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.portfolio__item {
    @media screen and(max-width:767.98px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    
    @media screen and (min-width:768px) and (max-width:1199.98px){
        flex-basis: calc((100% - 30px) / 2);
        
        &:not(:nth-child(2n)) {
            margin-right: 30px;
        }
        
        &:not(:nth-last-child(-n + 2)) {
            margin-bottom: 30px;
        }
    }
    
    @media screen and (min-width:1200px){
        flex-basis: calc((100% - 60px) / 3);
        
        &:not(:nth-child(3n)) {
            margin-right: 30px;
        }
        
        &:not(:nth-last-child(-n + 3)) {
            margin-bottom: 30px;
        }
    }    
}

.portfolio__link-wrapper {
    @extend %link;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio__image-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio__link-wrapper:hover &,
    .portfolio__link-wrapper:focus & {
        transform: translateY(0%);
    }
}

.portfolio__description-wrapper {
    flex-grow: 1;
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.portfolio__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primary-color);
    margin-bottom: 4px;
}

.portfolio__text{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-secondary-color);
}