body {
    font-family: var(--text-primary-font);
    color: var(--text-primary-color);
    background-color: var(--primary-white-color);

    overflow:hidden;
 
}

/* СБРОС ОФОРМЛЕНИЯ ДЛЯ СПИСКОВ И ССЫЛОК; СБРОС PADDING И MARGIN ДЛЯ СПИСКОВ, ТЕКСТА, ЗАГЛАВИЙ*/
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

%list {
    list-style: none;
}

%link {
    text-decoration: none;
}

