:root {
    --primary-white-color: #ffffff;
    /**белый цвет фона и текста, логотипа в футере**/
    --theme-dark-color: #2f303a;
    /*темно серый цвет фона**/
    --theme-light-color: #f5f4fa;
    /**светло серый текст фона**/
    --accent-color: #2196f3;
    /**синий цвет выделения ссылок и кнопок при ховере, фокусе**/
    --text-primary-color: #212121;
    /**темно серый цвет тектса**/
    --text-secondary-color: #757575;
    /**основной светло серый цвет текста**/
    --text-primary-font: Roboto, sans-serif;
    /**основшой шрифт текта**/
    --text-secondary-font: Raleway, sans-serif;
    /**шрифт текста логотипа**/
    --icon-primary-color: #afb1b8;
    /**основной цвет иконок соцсетей и партнеров**/
}